In [70]:
import pandas as pd

In [71]:
# Load the CSV file, skipping problematic lines and using the third row as column names
download_list = pd.read_csv('Data/AllDataLink.csv', skiprows=2, sep=', ')

# Display the loaded data
download_list

C:\Users\eddie\AppData\Local\Temp\ipykernel_8616\52116974.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  download_list = pd.read_csv('Data/AllDataLink.csv', skiprows=2, sep=', ')

,# YTID,start_seconds,end_seconds,positive_labels
0,--PJHxphWEs,30.0,40.0,"""/m/09x0r,/t/dd00088"""
1,--ZhevVpy1s,50.0,60.0,"""/m/012xff"""
2,--aE2O5G5WE,0.0,10.0,"""/m/03fwl,/m/04rlf,/m/09x0r"""
3,--aO5cdqSAg,30.0,40.0,"""/t/dd00003,/t/dd00005"""
4,--aaILOrkII,200.0,210.0,"""/m/032s66,/m/073cg4"""
...,...,...,...,...
22155,zyqg4pYEioQ,20.0,30.0,"""/m/09x0r,/m/0llzx"""
22156,zz0ddNfz0h0,30.0,40.0,"""/m/012f08,/m/03cl9h,/m/07yv9,/m/0k4j"""
22157,zz8TGV83nkE,80.0,90.0,"""/m/012f08,/m/02mk9,/m/04_sv,/m/07yv9"""
22158,zzlK8KDqlr0,370.0,380.0,"""/m/01m2v,/m/07qc9xj,/m/09x0r,/t/dd00125"""
22159,zzya4dDVRLk,30.0,40.0,"""/m/01v_m0,/m/0hdsk"""

In [72]:
download_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22160 entries, 0 to 22159
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   # YTID           22160 non-null  object
 1   start_seconds    22160 non-null  float64
 2   end_seconds      22160 non-null  float64
 3   positive_labels  22160 non-null  object
dtypes: float64(2), object(2)
memory usage: 692.6+ KB

In [73]:
# Drop rows where the value in the '# YTID' column is equal to "#NAME?"
download_list = download_list[download_list['# YTID'] != '#NAME?']

# Reset the index of the DataFrame after dropping rows
download_list.reset_index(drop=True, inplace=True)

# Display the updated DataFrame
download_list

,# YTID,start_seconds,end_seconds,positive_labels
0,--PJHxphWEs,30.0,40.0,"""/m/09x0r,/t/dd00088"""
1,--ZhevVpy1s,50.0,60.0,"""/m/012xff"""
2,--aE2O5G5WE,0.0,10.0,"""/m/03fwl,/m/04rlf,/m/09x0r"""
3,--aO5cdqSAg,30.0,40.0,"""/t/dd00003,/t/dd00005"""
4,--aaILOrkII,200.0,210.0,"""/m/032s66,/m/073cg4"""
...,...,...,...,...
22155,zyqg4pYEioQ,20.0,30.0,"""/m/09x0r,/m/0llzx"""
22156,zz0ddNfz0h0,30.0,40.0,"""/m/012f08,/m/03cl9h,/m/07yv9,/m/0k4j"""
22157,zz8TGV83nkE,80.0,90.0,"""/m/012f08,/m/02mk9,/m/04_sv,/m/07yv9"""
22158,zzlK8KDqlr0,370.0,380.0,"""/m/01m2v,/m/07qc9xj,/m/09x0r,/t/dd00125"""
22159,zzya4dDVRLk,30.0,40.0,"""/m/01v_m0,/m/0hdsk"""

In [77]:
# Load Danger Label Data Set
drop_labels = pd.read_csv('Data/DangerLabels.csv')
drop_labels

    Context  index         mid       display_name
0         5      8  /m/07p6fty              Shout
1         5      9  /m/07q4ntr             Bellow
2         5     10  /m/07rwj3x              Whoop
3         5     11  /m/07sr1lc               Yell
4         5     13  /t/dd00135  Children shouting
..      ...    ...         ...                ...
59        6    426   /m/014zdl          Explosion
60        6    434  /m/07qsvvw         Burst, pop
61        6    435  /m/07pxg6y           Eruption
62        6    436  /m/07qqyl4               Boom
63        1    443  /m/07rn7sz            Shatter

[64 rows x 4 columns]

In [75]:
drop_labels['mid'].to_list()

['/m/07p6fty',
 '/m/07q4ntr',
 '/m/07rwj3x',
 '/m/07sr1lc',
 '/t/dd00135',
 '/m/03qc9zr',
 '/m/0463cq4',
 '/t/dd00002',
 '/m/0bt9lr',
 '/m/05tny_',
 '/m/07r_k2n',
 '/m/07qf0zm',
 '/m/07rc7d9',
 '/m/0ghcn6',
 '/t/dd00136',
 '/m/07qwf61',
 '/m/01280g',
 '/m/0cdnk',
 '/m/07yv9',
 '/m/012f08',
 '/m/0k4j',
 '/m/0912c9',
 '/m/02mfyn',
 '/m/07rknqz',
 '/m/0h9mv',
 '/t/dd00134',
 '/m/0ltv',
 '/m/07r04',
 '/m/0gvgw0',
 '/m/05x_td',
 '/m/02rhddq',
 '/m/03j1ly',
 '/m/04qvtq',
 '/m/012n7d',
 '/m/012ndj',
 '/m/04_sv',
 '/m/06d_3',
 '/m/07jdr',
 '/m/04zmvq',
 '/m/0284vy3',
 '/m/01g50p',
 '/t/dd00048',
 '/m/0195fx',
 '/m/0199g',
 '/m/01yg9g',
 '/m/01j4z9',
 '/m/07pp_mv',
 '/m/03kmc9',
 '/m/0dgbq',
 '/m/030rvx',
 '/m/01y3hg',
 '/m/0c3f7m',
 '/m/04fq5q',
 '/m/0l156k',
 '/m/03l9g',
 '/m/03p19w',
 '/m/01b82r',
 '/m/0_ksk',
 '/m/01d380',
 '/m/014zdl',
 '/m/07qsvvw',
 '/m/07pxg6y',
 '/m/07qqyl4',
 '/m/07rn7sz']

In [78]:
# Drop any row contain danger label
drop_features = drop_labels['mid'].to_list()

# Filter and remove rows containing any of the drop_features
download_list = download_list[~download_list['positive_labels'].str.contains('|'.join(drop_features))]

# Reset the index of the DataFrame after dropping rows
download_list.reset_index(drop=True, inplace=True)

# Display the updated DataFrame
download_list

,# YTID,start_seconds,end_seconds,positive_labels
0,--PJHxphWEs,30.0,40.0,"""/m/09x0r,/t/dd00088"""
1,--ZhevVpy1s,50.0,60.0,"""/m/012xff"""
2,--aE2O5G5WE,0.0,10.0,"""/m/03fwl,/m/04rlf,/m/09x0r"""
3,--aO5cdqSAg,30.0,40.0,"""/t/dd00003,/t/dd00005"""
4,--aaILOrkII,200.0,210.0,"""/m/032s66,/m/073cg4"""
...,...,...,...,...
18803,zyGjrJfE_rg,120.0,130.0,"""/m/028v0c,/m/09x0r"""
18804,zyXa2tdBTGc,30.0,40.0,"""/m/04rlf,/t/dd00034"""
18805,zyqg4pYEioQ,20.0,30.0,"""/m/09x0r,/m/0llzx"""
18806,zzlK8KDqlr0,370.0,380.0,"""/m/01m2v,/m/07qc9xj,/m/09x0r,/t/dd00125"""
18807,zzya4dDVRLk,30.0,40.0,"""/m/01v_m0,/m/0hdsk"""

In [84]:
# Sample 3200 data points from the DataFrame
sample_list = download_list.sample(n=3200, random_state=42)  # You can change the random_state for reproducibility

# Save the sampled data to a CSV file
sample_list.to_csv('Data/ControlDataLink.csv', index=False)

# Display the first few rows of the sampled data
sample_list

,# YTID,start_seconds,end_seconds,positive_labels
13781,h3DVqb55DRQ,20.0,30.0,"""/m/025rv6n,/m/05_wcq,/m/07st89h,/m/09b5t"""
9849,UFAGCTDB7EY,30.0,40.0,"""/m/032s66,/m/0_1c"""
6074,H0Zaevi3IUw,100.0,110.0,"""/m/015lz1,/m/04rlf,/t/dd00003,/t/dd00126"""
7501,LefXwJz6HCA,60.0,70.0,"""/m/02z32qm,/m/09x0r"""
9919,US0al0-ySG4,30.0,40.0,"""/m/07qlwh6"""
...,...,...,...,...
11854,_yqlQimkHpQ,260.0,270.0,"""/m/015p6,/m/020bb7,/m/07pggtn"""
4896,DBp853aSoHw,160.0,170.0,"""/m/019jd,/m/056ks2"""
12270,b_KtUga1_pg,410.0,420.0,"""/m/06xkwv"""
14700,kU5_oNlg1tE,30.0,40.0,"""/m/09x0r,/t/dd00018"""
17134,tRGV2rMjuKc,0.0,9.0,"""/m/07rbp7_"""

In [85]:
# Function to trim audio using FFmpeg
def trim_audio(input_file, output_file, start_time, end_time):
    command = (
        f'ffmpeg -loglevel quiet -i "{input_file}" -ss {start_time} -to {end_time} "{output_file}"'
    )
    os.system(command)

In [ ]:
import os
import yt_dlp

# Create a directory to store downloaded audio files if it doesn't exist
output_dir = 'Data/NotScreaming'
os.makedirs(output_dir, exist_ok=True)

# Create a yt-dlp instance
ydl_opts = {
    'format': 'bestaudio/best',
    'postprocessors': [{
        'key': 'FFmpegExtractAudio',
        'preferredcodec': 'wav',
        'preferredquality': '1920',
    }],
    'outtmpl': os.path.join(output_dir, '%(id)s.%(ext)s'),
}

ydl = yt_dlp.YoutubeDL(ydl_opts)

# Loop through each row in the DataFrame and download the audio
for index, row in sample_list.iterrows():
    yt_id = row['# YTID']
    start_seconds = row['start_seconds']
    end_seconds = row['end_seconds']

    # Construct the URL with time offsets
    url = f'https://www.youtube.com/watch?v={yt_id}'

    try:
        # Download the audio
        ydl.download([url])
        print(f"Downloaded audio for YTID {yt_id}")

        # Rename the downloaded file to match the YTID
        downloaded_file = os.path.join(output_dir, f"{yt_id}.wav")
        trimmed_file = os.path.join(output_dir, f"{yt_id}_out.wav")

        # Trim the audio using FFmpeg
        trim_audio(downloaded_file, trimmed_file, start_seconds, end_seconds)

        # Remove the original downloaded file
        os.remove(downloaded_file)

        print(f"Trimmed audio for YTID {yt_id}")
    except Exception as e:
        print(f"Error downloading audio for YTID {yt_id}: {str(e)}")

print("Download and trimming completed.")